# MongoDB Atlas Connection String
# Formato: mongodb+srv://<usuario>:<contraseña>@<cluster>.mongodb.net/<base_de_datos>?retryWrites=true&w=majority
MONGO_URI=mongodb+srv://usuario:contraseña@cluster.mongodb.net/biblioteca_db?retryWrites=true&w=majority
